<% provide(:title, 'A propos') %>
    <h1>A propos</h1>
    <p>
     Ce projet à été exécuté par Jaafar Lounes sous la coordination de Mme Carilee Chambreuil. Pour plus d'informations <%= link_to "Contactez nous.", contact_path %>
    </p>
