

<% provide(:title, 'Accueil') %> 
<div class="center hero-unit">
  <h1>Bienvenue</h1>

  <h2>
    Ceci est la page d'accueil
  </h2>

  <%= link_to "S'inscrire!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("Logo_utbm.png", alt: "Rails", size: "100x120"), 'http://www.utbm.fr/' %>