

<% provide(:title, 'Home') %> 
<div class="center hero-unit">
  <h1>Bienvenue sur Associations</h1>

  <h2>
    Ceci est la page d'accueil
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("Logo_utbm.png", alt: "Rails"), 'http://rubyonrails.org/' %>